<div class="container-fluid">
    <div class="header">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Resources</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Filter Dropdowns -->
    <div class="d-flex justify-content-center">
        <!-- First Filter Dropdown (Industries) -->
        <div class="btn-group" dropdown [isOpen]="industryDropdownStatus.isOpen"
             (mouseenter)="showIndustriesDropdown($event)" (mouseleave)="showIndustriesDropdown($event)">
            <button dropdownToggle type="button" class="btn btn-secondary btn-lg dropdown-toggle">
                {{currentIndustryTitle}}<span class="caret"></span></button>
            <ul *dropdownMenu class="dropdown-menu">
                <li *ngFor="let industry of industries | getValue" role="menuitem">
                    <button class="dropdown-item" (click)="toggleIndustry(industry)">{{industry}}</button>
                </li>
            </ul>
        </div>
        <!-- Second Filter Dropdown (Solutions) -->
        <div class="btn-group" dropdown [isOpen]="solutionsDropdownStatus.isOpen"
             (mouseenter)="showSolutionsDropdown($event)" (mouseleave)="showSolutionsDropdown($event)">
            <button dropdownToggle type="button" class="btn btn-secondary btn-lg dropdown-toggle">
                {{currentSolutionTitle}}<span class="caret"></span></button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li *ngFor="let solution of solutions | getValue" role="menuitem">
                    <button class="dropdown-item" (click)="toggleSolution(solution)">{{solution}}</button>
                </li>
            </ul>
        </div>
        <!-- Third Filter Dropdown (Content Type) -->
        <div class="btn-group" dropdown [isOpen]="contentTypeDropdownStatus.isOpen"
             (mouseenter)="showContentTypeDropdown($event)" (mouseleave)="showContentTypeDropdown($event)">
            <button dropdownToggle type="button" class="btn btn-secondary btn-lg dropdown-toggle">
                {{currentContentTypeTitle}}<span class="caret"></span></button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li *ngFor="let type of contentType | getValue" role="menuitem">
                    <button class="dropdown-item" (click)="toggleContentType(type)">{{type}}</button>
                </li>
            </ul>
        </div>
        <!-- If any filter is selected, then show the 'clear' button -->
        <div *ngIf="currentIndustryTitle !== industryTitle || currentContentTypeTitle !== contentTypeTitle || currentSolutionTitle !== solutionTitle">
            <div class="btn-clear">
                <button type="button" class="btn btn-lg vistex-btn"
                        (click)="toggleIndustry(industryTitle); toggleContentType(contentTypeTitle); toggleSolution(solutionTitle)">
                    <i class="material-icons align-middle md-48">clear</i>
                    <span class="align-middle">Clear</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Loading animation. Disappears after done loading resources. -->
    <div *ngIf="isLoading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

    <!-- Resources -->
    <div id="wrapper">
        <!-- The angular2-masonry framework defines the masonry and masonry-brick tags -->
        <masonry [options]="masonryOptions">
            <div class="brick-sizer"></div>
            <masonry-brick class="brick" *ngFor="let resource of resources">
                <!-- Only shows the _resources-helpers that are visible -->
                <!--<div *ngIf="resource.isVisible">-->
                    <a href="{{resource.link}}">
                        <div class="resources-links card">
                            <!-- If statement to make sure that proper images load. If no featured image is found, -->
                            <!-- then get a placeholder image instead so that all rows are even. -->
                            <div *ngIf="resource._embedded['wp:featuredmedia'];then showFeatured else showTemp"></div>
                                <ng-template #showFeatured><img class="card-img-top" src="{{resource['_embedded']['wp:featuredmedia']['0']['source_url']}}" alt="Card image"></ng-template>
                                <ng-template #showTemp><img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image"></ng-template>
                            <div class="card-block">
                                <!-- The title of the resource. -->
                                <h3 class="card-title"><span [innerHTML]="this.titleCorrected(resource.title.rendered)"></span></h3>
                            </div>
                        </div>
                    </a>
                <!--</div>-->
            </masonry-brick>
        </masonry>
    </div>
</div>
