<div class="container-fluid">
    <div class="resources-template">
        <div class="header">
            <h1>Resources</h1>
            <div class="share-buttons">
                <!-- TODO: Implement share buttons -->
            </div>
        </div>
        <div class="content">
            <a [routerLink]="['resources/case-studies']">Case Studies</a>
            <a [routerLink]="['resources/videos']">Videos</a>
            <a [routerLink]="['resources/webinars']">Webinars</a>
            <a [routerLink]="['resources/events']">Events</a>
            <a [routerLink]="['resources/vistas']">VISTAS</a>
        </div>
    </div>
</div>