$vistex-blue: #003768;
$vistex-light-blue: #1182bd;
$vistex-yellow: #efa020;
$vistex-dark-yellow: #af5b00;
button:hover {
    text-decoration: underline;
}

.header {
    background-image: url("../../assets/case-studies.jpg");
    background-size: cover;
    color: #fff;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
}

.btn-group {
    font-size: 3vw;
    text-align: center;
    .btn {
        border: 0px solid transparent;
        border-radius: 0;
        color: $vistex-blue;
        background-color: transparent;
        &:hover {
            text-decoration: none;
        }
    }
    padding-bottom: 20px;
}

.dropdown-menu {
    text-align: left;
    font-size: 14px;
    border-radius: 0;
    border-top: 3px solid #002f56;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    margin-top: -10px;
    ul {
        li {
            color: #08c;
        }
    }
}

a {
    color: #08c;
    text-decoration: none;
}

.vistex-btn {
    background-color: $vistex-yellow;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid $vistex-dark-yellow;
    text-transform: uppercase;
    line-height: 120%;
    padding: 8px 14px 10px 14px;
    border-radius: 0;
}

button {
    i {
        vertical-align: middle;
    }
}

.card {
    background: #fff;
    border-style: hidden;
    height: 325px;
    .card-block {
        padding: 0;
        margin: 0;
        margin-top: 10px;
        .card-title {
            font-weight: bolder;
        }
    }
}

masonry {
    margin: 0 auto;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

masonry-brick {
    width: 314px;
    float: left;
}