$vistex-blue: #073156;
.resources-template {
    position: relative;
    // text-align: center;
}

.header {
    background-image: url("http://via.placeholder.com/1080x175");
    color: $vistex-blue;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
}

.resources-links {
    margin-bottom: 30px;
}

.card {
    background: #fff;
    border-radius: 2px;
    border-style: hidden;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    // transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    // &:hover {
    //     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    //     // text-decoration: none;
    // }
}

.center-div {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn-group {
    display: flex;
    .btn {
        width: 100%;
        flex: 1;
    }
    font-size: 3vw;
    margin: 0 auto;
    text-align: center;
    width: inherit;
    text-overflow: ellipsis;
}

#wrapper {
    width: 100%;
    min-width: 800px;
    margin: 50px auto;
}

@mixin column-count-gap-fill($count,
$gap,
$fill) {
    -webkit-column-count: $count;
    -webkit-column-gap: $gap;
    -webkit-column-fill: $fill;
    -moz-column-count: $count;
    -moz-column-gap: $gap;
    -moz-column-fill: $fill;
    column-count: $count;
    column-gap: $gap;
    column-fill: $fill;
}

#columns {
    @include column-count-gap-fill(3,
    30px,
    auto);
}

@mixin column-break-inside($column-break-inside) {
    -webkit-column-break-inside: $column-break-inside;
    -moz-column-break-inside: $column-break-inside;
    column-break-inside: $column-break-inside;
}

.pin {
    @include column-break-inside(avoid);
}

@mixin column-count($column-count) {
    -webkit-column-count: $column-count;
    -moz-column-count: $column-count;
    column-count: $column-count;
}

@media (min-width: 960px) {
    #columns {
        @include column-count(3);
    }
}

@media (min-width: 1100px) {
    #columns {
        @include column-count(4);
    }
}